.slider-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.slider-img {
  width: 0px;
  height: calc(80vw *9 /16);
  border-radius: 10px;
  transition: all ease-out 500ms;
  box-shadow: 0 0 16px rgba(0,0,0,0.2);
}

.active{
  width: 80vw;
}

.slider-btn {
  border: none;
  background-color: transparent;
  font-size: 4.8rem;
  cursor: pointer;
  color: #fff;
}

.btn-right {
  transform: translateX(-60px);
}

.btn-left {
  transform: translateX(60px);
}
